@model Certifications
    <div class="row ">
        <h1>Add New Certification</h1>
        <div class="col-md-12">
            <form asp-action="CreateCertification" method="post">
                <div class="row">
                    <div class="col-md-3">
                        Title
                    </div>
                    <div class="col-md-9 form-group">
                        <input type="text" asp-for="Title" />
                    </div>
                    <div class="col-12">
                        <input type="submit" value="Save" class="btn btn-block btn-primary" />
                    </div>
                </div>
                
            </form>
        </div>
    </div>
